
        <nav id="main_navigation">

            <div class="ui white attached menu">

                <a class="icon item" id="sidebar_toggle">
                    <i class="sidebar icon"></i>
                </a>

                <a href="{{ site_url() }}" class="brand item">
               <img width="140" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1497453042/elektropay/assets/img/logo.png" alt="Logo">
                 </a>

                <a href="{{ default_base_url() }}" target="_blank" class="mobile hidden item">
                    <i class="home icon"></i> <span class="tablet hidden">Go To Site</span>
                </a>

                <div class="right menu">

                    {{ widget('account_widget') }}

                </div>

            </div>

        </nav>
